body{
    margin: 0;
    padding: 0;
}
#back{
    height: 50vh;
    width: 50vw;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-size: 2rem;
    margin:auto auto;
}
#white{
    color: white;
}
#black{
    color: black;
    padding: 10px;
}
#buttons-container{
    display: flex;
    justify-content: center;
    
}
.buttons{
    margin: 5px;
}